<%- include('partials/header');  -%>
<h1>home</h1>
<p><%=  startingContent %></p>
<% console.log(posts); %>
<% for(var i=0; i<posts.length; i++){  %>
   <% console.log(posts[i].title);  %>
<% }; %>
<%- include('partials/footer'); -%>